﻿@model FizzBuzzTest.Models.FizzBuzz
@using FizzBuzzTest.HtmlHelper
@using PagedList
@using PagedList.Mvc
@using System.Web.Optimization
@{
    ViewBag.Title = "ResultView";
}
 
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")
    
<p style="font-family:Verdana"><h1 style="background-color:aquamarine">Application for Fizz Buzz test</h1></p>

@using (Html.BeginForm("ResultView", "FizzBuzz", new { page = 1 }))
{
    <div class="editor-feild">

        <b style="font-family:Verdana">
            @Html.LabelFor(m => m.numberGivenByUser):
            @Html.TextBoxFor(m => m.numberGivenByUser)
        </b>
        <b style="font-size:small;color:red"> @Html.ValidationMessageFor(m => m.numberGivenByUser)</b>
        </div>

    <p>
        <input type="submit" value="Submit" style="height:25px;width:80px;position:relative;left:170px" />
    </p>
}


@{
    if (Model != null && Model.paging != null)
    {
        foreach (var text in Model.paging)
        {
           @FizzBuzzTest.HtmlHelper.TextDisplay.TxtFormat(text)
            <br />
        }

        <div>
            @Html.PagedListPager(Model.paging, page => Url.Action("ResultView", new { page = page,Model.numberGivenByUser }), PagedListRenderOptions.TwitterBootstrapPager)
        </div>
    }
}

<script>
    $('#numberGivenByUser').on('keypress', function (ev) {
        var keyCode = window.event ? ev.keyCode : ev.which;
        //codes for 0-9
        if (keyCode < 48 || keyCode > 57) {
            //codes for backspace, delete, enter
            if (keyCode != 0 && keyCode != 8 && keyCode != 13 && !ev.ctrlKey) {
                ev.preventDefault();
            }
        }
    });
</script>